body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216deg, 12%, 8%);
  color: white;
  font-size: 15px;
  min-height: 100vh;
}

p {
  color: hsl(217deg, 12%, 63%);
  margin-right: 2%;
  margin-left: 2%;
}

#popUp {
  display: none;
}
#popUp.visible {
  display: unset;
  width: 100%;
  background-color: hsl(213deg, 19%, 18%);
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 400px;
  max-width: 25%;
  min-width: 400px;
  min-height: 380px;
  background-color: hsl(213deg, 19%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 20px 15px;
}

.card-1 {
  align-items: center;
  align-content: center;
}
.card-1.hide {
  display: none;
}

.star {
  width: 20px;
  height: 20px;
  border: 15px solid hsl(213deg, 19%, 18%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.title {
  color: hsl(0deg, 0%, 100%);
  font-size: 2em;
  font-weight: 500;
  margin-top: 6%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 0%;
}

.para {
  line-height: 2em;
  margin-left: 4%;
  margin-right: 4%;
  word-spacing: 0.1em;
  font-size: 15px;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

.btn {
  color: hsl(216deg, 12%, 54%);
  border: 15px solid hsl(213deg, 19%, 18%);
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 25px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  background-color: hsl(25deg, 97%, 53%);
  transition: 0.3s;
  border: 15px solid hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.btn:focus {
  background-color: hsl(216deg, 12%, 54%);
  border: 15px solid hsl(216deg, 12%, 54%);
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s;
}

.submit {
  font-family: "Overpass", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  border-style: none;
  border-radius: 25px;
  padding: 15px 150px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.submit:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
}

/*
li{
    list-style-type: none;
    justify-content: center;
    display: flex;
}

ul{
    display: inline;
    background:hsl(216, 12%, 54%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    text-align: center;
    margin: 2px;
}
*/
.thanks-img {
  display: block;
  margin: 0 auto 2rem;
}

.selected {
  background-color: hsl(213deg, 19%, 18%);
  color: hsl(25deg, 97%, 53%);
  border-radius: 25px;
  margin-left: 28%;
  margin-right: 28%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card-2 {
  display: hidden;
}

.card-2-title {
  text-align: center;
}

.para-2 {
  color: hsl(217deg, 12%, 63%);
  text-align: center;
  font-size: 16px;
  margin: 4%;
  line-height: 1.5em;
}

.attribution {
  margin-top: 6em;
  text-align: center;
  font-size: 8px;
  color: hsl(217deg, 12%, 63%);
}
.attribution a {
  color: red;
}/*# sourceMappingURL=styles.css.map */